certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
PyJWT==1.7.1
pytz==2018.3
requests==2.18.4
requests-unixsocket==0.1.5
six==1.12.0
twilio==6.35.5
urllib3==1.22
Werkzeug==0.15.4
PySocks==1.6.8

